<html>
 <head> 
  <title>Hacked By Xmy2Fo</title> 
  <meta property="og:image" content="https://i0.wp.com/images.8tracks.com/cover/i/002/032/105/sad-boy-black-wallchan-72240-8535.jpg?rect=128,0,1024,1024&amp;q=98&amp;fm=jpg&amp;fit=max"> 
  <meta name="description" content="Only human. Not a programmer"> 
  <script type="text/javascript" src="http://forex-a.net/code.jquery.com/jquery-2.1.1.js">
    </script> 
  <style type="text/css">body{background:#fff;font-family:Tahoma;font-size:12px;font-weight: ;font-size:12px;font-style: }</style> 
 </head>
 <body>
  <center> 
   <center> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323"> 
    <style>body{font-family:'VT323',serif;font-size:55px}</style> 
    <span class="font-effect-anaglyph"> 
     <center>
      &gt;
      <img src="https://i.pinimg.com/originals/c5/4f/4a/c54f4a1f3361d3ed51913946db17eae4.jpg">
     </center> 
     <center>
      <h2>Hacked By <br>Xmy2Fo</h2>
     </center> 
   <div>
     <p class="style14" align="center"> <font color="#ffffff" face="courier new" size="3">Message :</font><marquee scrolldelay="20" scrollamount="2" direction="left" behavior="scroll" width="50%">
     <font color="white" face="Tahoma" size="3">   - I'm not alone! I'm With My Friends!-   </font></marquee><br></p><p align="center">
   </div>
</div>
     <div>
      <font size="6" color="black">&lt;"Never Alone, XD"&gt;<br><br> 
       <audio src="https://k.top4top.io/m_1836qe8rx4.mp3" controls=""></audio><br> 
       <center>
        <a href="https://youtube.com/c/FadhilGraphy"><p style="font-size: 20px;"> Xmy2Fo </p>
        </script>
       </center> </font>
     </div><font size="6" color="black"> </font></span>
     <h4 id="h4"><br></h4>
<br><br><br><br><br>
     <!-- FOOTER -->
<footer id="ftr" style="position:fixed; left:0px; right:0px; bottom:3px; background:transparent); text-align:center;"><font face="Courier New" size="2">
<center><marquee behavior="alternate" direction="center" style="border:2px solid purple; border-radius:30px;"> Just For Practicing My Programming Skills</marquee><br>
<center><font color="#00FFFF">Thanks to : </font><marquee direction="up" scrollamount="2" height="15" width="250" onmouseover="this.stop()" onmouseout="this.start()"><font color="white"><center>
<br><br>ItsmeikyXSec404
<br><br>My Team
<br><br>Mr-Virtek
</center></marquee><font color="#87CEFA"> | <font color="#00FFFF">Copyright &copy; 2020 - <a href="https://youtube.com/c/FadhilGraphy"><font color="yellow"> I'Am Xmy2Fo </font></a><font color="#87CEFA"> | </font></footer>
<!-- /FOOTER -->
   </center>
  </center>
 </body>
</html>